*{margin: 0; padding: 0;}
ul,ol{ list-style: none;}
a{	text-decoration: none;}

.main-container{
background-color: #183153;
}
.main-container .box-top{

}
.box-top .top-title{
	height: 30px; color: aliceblue; display: block;
	font-size: 20px; margin-left: 400px;
}
.top-table{
	color: aliceblue;	margin-left: 200px;
	
}
 th, td {
	border: 1px solid #bcbcbc; text-align: center; background-color: gray;
}
table{
	width: 700px; height: 100px;
}
